
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body
{
    background-position: center;
    background-size: cover;
}
canvas
{
    margin-top: 40px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
}
#copy_right_footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: cadetblue;
    color: darkblue;
    font-style: italic;
    font-weight: bold;
}

